fieldset {
  color: rgb(0, 0, 0);
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: #ffffff;
}

.circle-1 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid red;
}

.circle-2 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid red;
}

.circle-3 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid red;
}

.square-1 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid red;
}

.square-2 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid red;
}

.square-3 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid red;
}

.triangle-1 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #e03737;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle-2 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #ee2626;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.triangle-3 {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #e03737;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.container-btn {
  width: 100%;
  height: 20%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}